<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm">
  <div class="container-fluid d-flex flex-column">
    <div class="d-flex align-items-center w-100">
      <%= link_to "Yespark", root_path, class: "navbar-brand me-3" %>
      <%= form_for parkings_path, method: :get, html: { class: "d-flex align-items-center me-auto mb-0", data: { turbo_frame: 'parkings_list', turbo_action: 'advance' } } do |f| %>
        <%= search_field_tag :query, params[:description], class: "form-input block pl-10 sm:text-sm sm:leading-5", placeholder: "Où cherchez-vous un parking ?" %>
        <%= f.submit "Rechercher", class: "btn btn-primary", name: nil %>
      <% end %>
    </div>
  </div>
</nav>
